@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background-color: #999090;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 5em;
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  color: #494444;
  margin-top: 1em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  color: #494444;
  margin-top: 0;
}

h3 {
  font-size: 1em;
  margin: 0;
  color: #444;
}
p { 
  margin: 0;
  color: #444;
}

a:hover {
  text-decoration: none;
}

.grid {
  max-width: 1100px;
  margin: 2em auto;
}

.grid-sizer, .grid-item { width: 19.2%; }

.gutter-sizer { width: 1%;}

.grid-item {
  margin-bottom: 1.5%;
  background-color: #dfdddd;
}

.grid-item:hover {
  background-color: #fff;
}

.image-box {
  position: relative;
}

.story-image {
  background-color: #fff;
  min-width: 100%;
}

.upvotes {
  width: 100%;
  text-align: center;
  line-height: 2;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: none;
}

.upvotes .glyphicon {
  font-size: .8em;
}

.info-container {
  padding: 1.5em 1em;
}
  
.title {
  margin-bottom: 2em;
  line-height: 1.5;
}
.comments {float: left;}

.author {
  float: right;
  text-align: right;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Media Queries
1200 become % based
1100 4-column
830 3-column
700 2-column */

@media screen and (max-width: 1260px) {
  .grid {
    max-width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .grid-sizer, .grid-item {
    width: 24.25%;
  }
}

@media screen and (max-width: 800px) {
  .grid-sizer, .grid-item {
    width: 32.333%;
  }
  .gutter-sizer {width: 1.5%;}
  .grid-item {margin-bottom: 2%;}
}

@media screen and (max-width: 600px) {
  .grid-sizer, .grid-item {
    width: 49%;
  }
  .gutter-sizer {width: 2%;}
  .grid-item {margin-bottom: 2.5%;}
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
  .grid { max-width: 85%;}
  .grid-sizer, .grid-item {
    width: 100%;
  }
  .grid-item {margin-bottom: 5%;}
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.5em;
  }
  .wrapper {
    min-width: 260px;
  }
}